@model ColdSubject.Models.Product

<html>
<head>
    <title>Product List - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new product</h4>
    @using (Html.BeginForm())
    {
        <p>@Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)</p>

        <p>@Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)</p>

        <p>@Html.LabelFor(model => model.Cost)
        @Html.TextBoxFor(model => model.Cost)</p>
        <input type="submit" value="Add new product" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>