@model ColdSubject.Models.Product

<html>
<head>
    <title>Product List - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    <h2>@Html.DisplayFor(model => model.Name)</h2>

    <p><strong>@Html.DisplayNameFor(model => model.Description):</strong></p>
    <p>@Html.DisplayFor(model => model.Description)</p>

    <p><strong>@Html.DisplayNameFor(model => model.Cost):</strong></p>
    <p>$@Html.DisplayFor(model => model.Cost)</p>

    <p>@Html.ActionLink("Back to the King's court", "Index")</p>
</body>
</html>