@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ColdSubject.Models.Product

<html>
<head>
    <title>Product List - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    <h2>@Html.DisplayFor(model => model.Name)</h2>

    <p><strong>@Html.DisplayNameFor(model => model.Description):</strong></p>
    <p>@Html.DisplayFor(model => model.Description)</p>

    <p><strong>@Html.DisplayNameFor(model => model.Cost):</strong></p>
    <p>$@Html.DisplayFor(model => model.Cost)</p>

    <hr />

    <p>@Html.ActionLink("Back", "Index")</p>
    <p>@Html.ActionLink("See reviews", "ViewReviews")</p>
</body>
</html>